@import 'tailwindcss';

html {
  background-color: gray-800;
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

/* Add this globally or in a CSS module */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9a9da1;
  /* sky-500 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: none;
  /* gray-800 */
}